*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

.dummy {
	height: 100vh;
}

.portfolio {
	height: 300vh;
	display: flex;
	justify-content: space-between;
}

.portfolio__item {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}

.portfolio-item__title {
	color: black;
}

.portfolio-item__image-wrapper {
	padding: 6.57895vh 0 !important;
	position: sticky !important;
	top: 0;
	height: 100vh;
	width: 73.6852vh;
}

.portfolio-item__image-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.portfolio-item__image {
	/* Substracting 2 * margin value */
	transform: rotate(90deg) translateY(calc(2 * -6.57895vh));
	/* Prefer margin, asyou don't have to substract paddings for canvas resize */
	margin: 0 6.57895vh !important;
	position: absolute !important;
	/* Should be equal to top margin */
	top: 6.57895vh;
	right: 0;
	/* Width = height after rotation */
	width:  86.8421vh !important;
	/* Height = width after rotation */
	height: 73.6852vh !important;
}

.portfolio-item__image-fallback {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #4b4b4b;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: ivymode, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
